<a href="https://colab.research.google.com/github/MurshidaAkter/CSE_110/blob/main/lab_6_cse110.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#task 1
def even_checker(number):
    if number%2==0:
        print("Even!!")
    else: print("Odd!!")
even_checker(5)

Odd!!

In [ ]:
#task 2
def fibonacci(limit):
    temp1 = 0
    temp2 = 1
    add="0"
   
    if limit == 0:
        return 0
       
    elif limit == 1:
        return temp2
    else:
        for i in range(1, limit):
            c = temp1 + temp2
            temp1 = temp2
            if temp1<=limit:
                add=add+" "+str(temp1) 
            temp2 = c
        return add

print(fibonacci(10))

0 1 1 2 3 5 8

In [ ]:
#task 3
def foo_moo(number):
    if number%2==0 and number%3==0:
        print("FooMoo")
    elif number%2==0:
        print("Foo")
    elif number%3==0:
        print("Moo")
    else: print("Boo")

number=int(input("Enter a number: "))
foo_moo(number)

Enter a number: 3
Moo

In [ ]:
#task 4
def case_checker(str_input):
    upper=0
    lower=0
    for iterate in str_input:
        if iterate==" ":
            pass
        elif ord(iterate)>=65 and ord(iterate)<=90:
            upper+=1
        elif ord(iterate)>=97 and ord(iterate)<=122:
            lower+=1
    return(upper,lower)
upper,lower=case_checker('HaRRy PotteR')
print("No. of Uppercase characters :",upper)
print("No. of Lowercase Characters:", lower)

No. of Uppercase characters : 5
No. of Lowercase Characters: 6

In [ ]:
#task 5
def calculate_tax(age, salary,current_job_designation):
    if age<18:
        return 0
    elif salary<10000:
        return 0
    elif current_job_designation=="president" or current_job_designation=="President":
        return 0
    elif 10000<salary<20000:
        return salary*0.05
    elif salary>20000:
        return salary*0.1
age=int(input("Enter age: "))
salary=int(input("Enter salary: "))
current_job_designation=input("Enter current job designation: ")

print(calculate_tax(age,salary,current_job_designation))

In [ ]:
#task 6
def day_counter(days):
    #days=4330
    year=days//365 
    days=days%365
    month=days//30
    days=days%30
    print("{} years, {} months and {} days".format(year,month,days))

day_counter(int(input("Ender number of days:")))

Ender number of days:4330
11 years, 10 months and 15 days

In [ ]:
#task 7
def show_palindrome(rows):
        
        for i_iterate in range(1,rows+1):
            print(i_iterate,end=" ")

        for j_iterate in range(rows-1,0,-1):
            print(j_iterate,end=" ")
                
limit=int(input("Enter the limit :"))

show_palindrome(limit)

Enter the limit :5
1 2 3 4 5 4 3 2 1

In [ ]:
#task 8
def show_palindromic_triangle(rows):
   
    for i_iterate in range(1,rows+1):
        
        for j_iterate in range(i_iterate,rows+1):
                print(" ",end=" ")
        
        for k_iterate in range(1,i_iterate+1):
            print(k_iterate,end=" ")
         
        for l_iterate in range(k_iterate-1,0,-1):
            #print(l_iterate)
            print(l_iterate,end=" ")
        
        print()
                
limit=int(input("Enter the limit :"))

show_palindromic_triangle(limit)

Enter the limit :5
          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

In [ ]:
#task 9
import math

def area_circumference_generator(rad):
    circumference=2*math.pi*rad
    area=math.pi * rad**2

    return area,circumference

radious=float(input("Enter a radious: "))
area,circumference=area_circumference_generator(radious)
print("Area of the circle is {} and circumference is {}".format(area,circumference))

Enter a radious: 1
Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

In [ ]:
#task 10
def make_square(range_tuple):
    sqr_dict={}
    for iterate in range(range_tuple[0],range_tuple[1]+1):
        sqr_dict[iterate]=iterate**2
    return sqr_dict

range_tuple=(5,9)
print(make_square(range_tuple))

{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
#task 11
def rem_duplicate(input_tuple):
    output_list=[]
    for iterate in input_tuple:
        if iterate in output_list:
            pass
        else: output_list.append(iterate)
    return tuple(output_list)

print(rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0)))

(1, 2, 3, 4, 5, 6, 0)

In [ ]:
#task 12
def counter(number,new_list):
    count=0
    for iterate in new_list:
        if number == iterate:
            count+=1
    return count

def element_checker(input_list):
    new_list=[]
    drop_elem=0
    for iterate in input_list:
        if iterate in new_list:
            if counter(iterate,new_list)>=2:
                drop_elem+=1
            else: new_list.append(iterate)
        else: new_list.append(iterate) 
    print("Removed:",drop_elem)
    return new_list
print(element_checker([10, 10, 15, 15, 20]))

Removed: 0
[10, 10, 15, 15, 20]

In [ ]:
#task 13
def addition(var1,var2):
    return var1+var2

def multiplicate(var1,var2):
    return var1 * var2

def subtract(var1,var2):
    return var1 - var2

def division(var1,var2):
    return var1/var2

def basic_calc(operator,operand1,operand2):
    if operator== "+":
        result=addition(operand1,operand2)
    elif operator== "-":
        result=subtract(operand1,operand2)
    elif operator== "*":
        result=multiplicate(operand1,operand2)
    elif operator== "/":
        result=division(operand1,operand2)
    return result

operator= input("Enter operator: ")
operand1= float(input("Enter first operand:"))
operand2= float(input("Enter second operand:"))

print(basic_calc(operator,operand1,operand2))

Enter operator: /
Enter first operand:7
Enter second operand:2
3.5

In [ ]:
#task 14
def modifier(sentence,position):
    new_sentence1=new_sentence2=""
    for iterate in range(len(sentence)):
        if iterate == 0:
            pass
        elif iterate%position==0:
            new_sentence2+=sentence[iterate]
        else: new_sentence1+=sentence[iterate]
    return new_sentence1+new_sentence2

sentence=input("Enter a sentence: ")
position= int(input("Enter a number: "))
print(modifier(sentence,position))

Enter a sentence: I love foooddd
Enter a number: 2
 oefoddlv ood

In [ ]:
#task 15
def payment(order_items,location="Dhanmondi"):
    bill=0
    for iterate in order_items:
        stock_dict={'Rice':105,'Potato':20,'Chicken': 250,'Beef': 510,'Oil' :85}
        bill+=stock_dict[iterate]
    if location== "Dhanmondi":
        bill+=30
    else: bill+=70
    return bill

order_item=[]
for iterate in range(3):
    order_item[iterate]=input("Add to cart: ")

print(payment(order_item))

750