<a href="https://colab.research.google.com/github/MurshidaAkter/CSE_110/blob/main/lab_5_cse110.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task1: Assume, you have been given a tuple.
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
Write one line of Python code to access and print the value 400.
===================================================================
Output: 400
===================================================================

In [ ]:
#task 1
a_tuple = ("The Institute", ("Best Mystery & Thriller",
                             "The Silent Patient", 68821), 75717,
           [1, 2, 3, 400, 5, 6, 7], 
           ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

Task2: Assume, you have been given a tuple. Write a Python program that creates a new
tuple excluding the first and last two elements of the given tuple and prints the new tuple.

In [ ]:
#task 2
a_tuple= (-10, 20, 25, 30, 40)
print(a_tuple[2:len(a_tuple)-2])

(25,)

Task 3: Write a Python program that prints the size of the tuple and all its elements as shown below.
===================================================================
Output:
Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#task 3
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print("Size of the tuple: ", len(book_info))
for iterate in book_info:
    print(iterate)

Size of the tuple:  4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

Task 4: Write a Python program that prints the award category, the book name, and its total votes
earned as shown below.
[Must use Tuple unpacking for printing and need to handle the quotation marks as a part
of the output]

In [ ]:
#task 4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
for iterate in range(len(book_info)):
    print("{} won the '{}' category with {} votes".format(book_info[iterate][1],book_info[iterate][0],book_info[iterate][2]))

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

Task 5: Write a python program that takes an input from the user and finds the number of times that the
input is present in a given tuple.
===================================================================
Example 1:
Given tuple: (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
Sample Input 1:
8
Sample Output 1:
8 appears 4 times in the tuple

In [ ]:
#task 5
given_tuple= (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
user_input=int(input("Enter a number: "))
found=0
for iterate in given_tuple:
    if iterate==user_input:
        found+=1
print("{} appears {} times in the tuple".format(user_input,found))

Enter a number: 1
1 appears 0 times in the tuple

Task 6: Write a Python program to reverse a given tuple.
[You are not allowed to use tuple slicing]

In [ ]:
#task 6
given_tuple= ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
converted_list=list(given_tuple)
final_list=converted_list[-1: :-1]
print(tuple(final_list))

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

Task 7: Suppose you are given two dictionaries.
Now create a new dictionary "marks", merging the two dictionaries, so that the original two
dictionaries remain unchanged.
Note: You can use dictionary functions.

In [ ]:
#task 7
given_dict1= new_dict={'Harry':15, 'Draco':8, 'Nevil':19}
given_dict2= {'Ginie':18, 'Luna': 14}

new_dict.update(given_dict2)
print(new_dict)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

Task 8: Write a Python program that takes a dictionary as an input from the user and then prints the
average of all the values in the dictionary.
[You are not allowed to use len() and sum()]

In [ ]:
#task 8
user_dict={}
size=int(input("enter size of dictionary:"))
values=0
for iterate in range(size):
    iterate=input("enter key: ")
    user_dict[iterate]=int(input("enter value: "))
print(user_dict)
for key,value in user_dict.items():
    values+=value

print("Average is:",int(values/size))

enter size of dictionary:3
enter key: g
enter value: 100
enter key: g
enter value: 20
enter key: k
enter value: 10
{'g': 20, 'k': 10}
Average is: 10

Task 9: Suppose there is a dictionary named exam_marks as given below.
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
Write a Python program that takes an input from the user and creates a new dictionary with only
those elements from 'exam_marks' whose keys have values higher than the user input
(inclusive).

In [ ]:
#task 9
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
new_dict={}
mark=int(input("enter mark: "))
for key,value in exam_marks.items():
    if value>mark:
        new_dict[key]=exam_marks[key]
print(new_dict)

enter mark: 170
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
#task 9
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
new_dict={}
mark=int(input("enter mark: "))
for iterate in exam_marks:
    if exam_marks[iterate]>mark:
        new_dict[iterate]=exam_marks[iterate]
print(new_dict)

enter mark: 23
175
200
165
190
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}

Task 10: Write a Python program that finds the largest value with its key from a given dictionary.
[You are not allowed to use the max() function for this task]
Note: You do not need to take the dictionaries as an input from the user but your code should
work for any given dictionary. Also, you need to handle the quotation marks as a part of the
output.
Hint: Think of membership operators (in and not in). You can use dictionary functions to get the
values.

In [ ]:
#task 10
given_dict = {'sci fi': 12, 'mystery': 15, 
              'horror': 8, 'mythology': 10, 
              'young_adult': 4, 'adventure':14}
max= given_dict['sci fi']
#new_dict={}
for key,value in given_dict.items():
    if value>max:
        max=value
        #new_dict[key]=given_dict[key]
        genre=key
        sold=value

print("The highest selling book genre is '{}' and the number of books sold are {}.".format(genre,sold))

The highest selling book genre is 'mystery' and the number of books sold are 15.

In [ ]:
#task 10
given_dict = {'sci fi': 12, 'mystery': 15, 
              'horror': 8, 'mythology': 10, 
              'young_adult': 4, 'adventure':17}
max= given_dict['sci fi']
#new_dict={}
for key,value in given_dict.items():
    if value>max:
        max=sold=value
        genre=key

print("The highest selling book genre is '{}' and the number of books sold are {}.".format(genre,sold))

The highest selling book genre is 'adventure' and the number of books sold are 17.

Task 11: Write a Python program that takes a String as an input from the user and counts the frequency
of each character using a dictionary. For solving this problem, you may use each character as a
key and its frequency as values. [You are not allowed to use the count() function]
Hint: You can create a new dictionary to store the frequencies. You may ignore case for
simplicity (i.e. may consider P and p to be the same).

In [ ]:
#task 11
str_input="Python programming is fun"
freq_dict={}
for iterate in str_input:
    if iterate==" ":
        pass
    elif iterate in freq_dict:
        freq_dict[iterate]+=1
    else: 
        freq_dict[iterate]=1 
    
print(freq_dict)

{'P': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 8, 'p': 1, 'r': 1, 'g': 1, 'a': 1, 'm': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1}

Task 12: Suppose you are given the following dictionary where the values are lists.
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
Write a Python program that counts the total number of items in a dictionary’s values and prints
it.
[Without using sum(), len(), count() functions]
Note: Make changes to the above dictionary and see if your code works properly for other
dictionaries as well.

In [ ]:
#task 12
dict_1 = {'A': [1, 2, 3,5,6], 'b': ['1','3' ,'2'], "c": [4, 5, 6, 7]}
counter=0
new_dict={}
for key,value in dict_1.items():
    for iterate in value:
        counter+=1
print(counter)

12

task 13: Suppose you have been given the following list of tuples.
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
Write a Python program that converts this list of tuples into a dictionary and then prints the
dictionary.
[You are not allowed to use set]
Hint: Think of membership operators (in and not in).

In [ ]:
#task 13
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
for iterate1 in range(len(list_1)):
    list_1[iterate1]=list(list_1[iterate1])
for iterate2 in range(len(list_1)):
    if list_1[iterate1][0]==list_1[iterate2][0]:
            print("111")
            #list_1[iterate1][0]=list_1[iterate1][0].append(list_1[iterate2][iterate1])


print(list_1)

111
[['a', 1], ['b', 2], ['a', 3], ['b', 1], ['a', 2], ['c', 1]]

In [ ]:
#task 13
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
final_dict = {}
for iterate0, iterate1 in list_1:
    if iterate0 in final_dict:
        final_dict[iterate0].append(iterate1)
    else:
        final_dict[iterate0] = [iterate1]

print(final_dict)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
#task 14
dict1 = {'a':59 , 'b':-82 , 'c':5 , 'd':-81 , 'e':53}
for i in dict1:
    j = 0
    k = 22
    while j < 5:
        if j % 2 == 0:
            k = dict1[i] + j - (8 + k % 6) / 3
            print("k = dict1[{}] + j({}) - (8 + k % 6) / 3 ==> k({})".format(i,j,k))
            dict1[i] = dict1[i]+ int(k)
            print("new dict[{}] ==> {}".format(i,dict1[i]))
        else:
            k = dict1[i] + j - (6 - k % 8) * 3
            print("k = dict1[{}] + j({}) - (6 - k % 8) * 3 ==> k({})".format(i,j,k))
            dict1[i] = dict1[i] - int(k)
            print("new dict[{}] ==> {}".format(i,dict1[i]))
        j += 1
    print("output to show: ")
    print(int(k))
    print(i + " -> " + str(dict1[i]))
    print("=========================================================================================")

k = dict1[a] + j(0) - (8 + k % 6) / 3 ==> k(55.0)
new dict[a] ==> 114
k = dict1[a] + j(1) - (6 - k % 8) * 3 ==> k(118.0)
new dict[a] ==> -4
k = dict1[a] + j(2) - (8 + k % 6) / 3 ==> k(-6.0)
new dict[a] ==> -10
k = dict1[a] + j(3) - (6 - k % 8) * 3 ==> k(-19.0)
new dict[a] ==> 9
k = dict1[a] + j(4) - (8 + k % 6) / 3 ==> k(8.666666666666668)
new dict[a] ==> 17
output to show:
8
a -> 17
=========================================================================================
k = dict1[b] + j(0) - (8 + k % 6) / 3 ==> k(-86.0)
new dict[b] ==> -168
k = dict1[b] + j(1) - (6 - k % 8) * 3 ==> k(-179.0)
new dict[b] ==> 11
k = dict1[b] + j(2) - (8 + k % 6) / 3 ==> k(10.0)
new dict[b] ==> 21
k = dict1[b] + j(3) - (6 - k % 8) * 3 ==> k(12.0)
new dict[b] ==> 9
k = dict1[b] + j(4) - (8 + k % 6) / 3 ==> k(10.333333333333334)
new dict[b] ==> 19
output to show:
10
b -> 19
=========================================================================================
k = dict1[c] + j(0) - (8 + k % 6) / 3 ==> k(1.0)
new dict[c] ==> 6
k = dict1[c] + j(1) - (6 - k % 8) * 3 ==> k(-8.0)
new dict[c] ==> 14
k = dict1[c] + j(2) - (8 + k % 6) / 3 ==> k(12.0)
new dict[c] ==> 26
k = dict1[c] + j(3) - (6 - k % 8) * 3 ==> k(23.0)
new dict[c] ==> 3
k = dict1[c] + j(4) - (8 + k % 6) / 3 ==> k(2.666666666666667)
new dict[c] ==> 5
output to show:
2
c -> 5
=========================================================================================
k = dict1[d] + j(0) - (8 + k % 6) / 3 ==> k(-85.0)
new dict[d] ==> -166
k = dict1[d] + j(1) - (6 - k % 8) * 3 ==> k(-174.0)
new dict[d] ==> 8
k = dict1[d] + j(2) - (8 + k % 6) / 3 ==> k(7.333333333333334)
new dict[d] ==> 15
k = dict1[d] + j(3) - (6 - k % 8) * 3 ==> k(22.0)
new dict[d] ==> -7
k = dict1[d] + j(4) - (8 + k % 6) / 3 ==> k(-7.0)
new dict[d] ==> -14
output to show:
-7
d -> -14
=========================================================================================
k = dict1[e] + j(0) - (8 + k % 6) / 3 ==> k(49.0)
new dict[e] ==> 102
k = dict1[e] + j(1) - (6 - k % 8) * 3 ==> k(88.0)
new dict[e] ==> 14
k = dict1[e] + j(2) - (8 + k % 6) / 3 ==> k(12.0)
new dict[e] ==> 26
k = dict1[e] + j(3) - (6 - k % 8) * 3 ==> k(23.0)
new dict[e] ==> 3
k = dict1[e] + j(4) - (8 + k % 6) / 3 ==> k(2.666666666666667)
new dict[e] ==> 5
output to show:
2
e -> 5
=========================================================================================

In [ ]:
5+int(5.0)

10

In [ ]:
-19%6

5